<mat-toolbar>
  <span>Intel 8080 Emulator</span>
  <span class="toolbar-spacer"></span>
  <a href="https://github.com/moorts/name_is_wip" target="_blank" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon svgIcon="GitHub"></mat-icon>
  </a>
</mat-toolbar>
<as-split direction="horizontal" class="mat-typography mat-app-background">
  <as-split-area [minSize]="20">
    <code-editor></code-editor>
  </as-split-area>
  <as-split-area [minSize]="20">
    <mat-tab-group>
      <mat-tab label="RAM"> Content 1 </mat-tab>
      <mat-tab label="CPU"> Content 2 </mat-tab>
      <mat-tab label="Peripherals"> Content 3 </mat-tab>
    </mat-tab-group>
  </as-split-area>
</as-split>
