.outer {
  background-color: #555555;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  z-index: 1;
}

td, th {
  cursor: pointer;
  padding: 5px;
  min-width: 20px;
  position: relative;
}

td:hover::after {
  background-color: #666666;
  content: '\00a0';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

tr:hover {
  background-color: #666666;
}

td {
  text-align: center;
}

#ramPageInput {
  max-width: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
}

#offsetControls {
  display: flex;
  justify-content: center;
  height: 3rem;
}

#mainRam {
  width: fit-content;
}

#outer {
  display: flex;
}

#registers {
  margin-top: 1rem;
}

.registerLine {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
}

.registerLabel {
  width: 1rem;
  display: inline-block;
}

.registerInput {
  background-color: #555555;
  color: white;
}
