html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; /* make browser scrollbar disappear */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
